body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h3, h4, h5, h6 {
  color: #444444;
}
h2{
color:#fff;
}


.bg-steel {
  background-color: #9e7380;
}

.site-header .navbar-nav .nav-link {
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #7f7175;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

a.article-title {
  color: #fff;
}
a.mr-2{
color: #fff;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.media-body p{
color:#fff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  color:#fff;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.text-secondary{
color:#fff;
}